/*=========================================\
	$IMPORTS
\=========================================*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*=========================================\
	$Opérations mathématique
\=========================================*/
article {
  font-size: 16px;
}
/*=========================================\
	$Variables
\=========================================*/
html .wrapper {
  margin: 0 auto;
  max-width: calc(100% - 2em);
  width: 1110px;
}
/*=========================================\
	$Imbrication
\=========================================*/
article p {
  color: #0e76a8;
}
article p a {
  color: #f00;
}
article img {
  width: 1387.5px;
  max-width: 100vw;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*=========================================\
	$Mixins
\=========================================*/
h1 {
  text-align: center;
}
/*=========================================\
	$Mixins paramètrables
\=========================================*/
h1 {
  text-align: center;
}
/*=========================================\
	$MEDIA QUERIES
\=========================================*/
/*
@media only screen and (min-width: 1110px){
	h1{
		font-size : @root-fsz * 2;
	}
}
*/
@media only screen and (min-width: 1110px) {
  h1 {
    width: 1110px;
    font-size: 32px;
  }
}
@media only screen and (min-width: 1300px) {
  h1 {
    font-size: 48px;
  }
}
/*=========================================\
	$Échappement
\=========================================*/
footer {
  max-width: calc(100% - 200px);
  max-width: calc(1110px - 200px);
  margin: 0 auto;
}
/*=========================================\
	$SCAFFOLD
\=========================================*/
:root {
  font-size: 18px;
  line-height: 1.6;
  color: #444;
  font-family: 'Roboto Condensed', sans-serif;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.layout {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
main {
  padding: 1em 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
/*=========================================\
	$HELPERS
\=========================================*/
.wrapper {
  max-width: calc(100% - 2em);
  margin: 0 auto;
}
.img-responsive {
  width: 100%;
  height: auto;
}
/*=========================================\
	$HEADER
\=========================================*/
header[role] {
  background: -webkit-gradient(linear, right top, left top, from(#136a8a), to(#267871));
  background: -o-linear-gradient(right, #136a8a, #267871);
  background: linear-gradient(to left, #136a8a, #267871);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header[role] > .wrapper {
  padding: 1em 0;
}
.logo {
  font-size: calc(2em + 1.5vw);
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.2;
  margin: 1rem;
  color: #fff;
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.2);
}
.logo a {
  color: inherit;
  text-decoration: none;
}
/*=========================================\
	$NAV
\=========================================*/
nav[role] {
  background: rgba(34, 34, 34, 0.2);
}
nav[role] ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
nav[role] li {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}
nav[role] a {
  display: block;
  color: #fff;
  font-size: 1.2em;
  padding: .5em .4em;
  text-decoration: none;
}
nav[role] a:hover,
nav[role] a:focus {
  background: rgba(0, 0, 0, 0.1);
}
nav[role] a.active {
  color: rgba(0, 0, 0, 0.34);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
}
/*=========================================\
	$ARTICLE
\=========================================*/
h1 {
  font-family: 'Roboto Mono', monospace;
  margin: 0 0 1rem 0;
}
h2 {
  border-left: .3em solid #444;
  background: #eee;
  font-size: 1.2em;
  padding: .2em .5em;
  margin: 1rem 0;
}
/*=========================================\
	$ALERT
\=========================================*/
.alert {
  border: 1px solid #ccc;
  padding: .5em 1em;
  color: #fff;
  border-radius: 4px;
}
.alert-success {
  background: #45d375;
  border-color: #2cb95c;
}
.alert-danger {
  background: #ed6249;
  border-color: #e83a1b;
}
/*=========================================\
	$SOCIAL
\=========================================*/
.social {
  width: 1.5em;
  height: 1.5em;
  font-size: 1.4em;
  border: 1px solid currentColor;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #444;
  margin: .2em;
}
.social a {
  color: inherit;
}
.social:hover,
.social:focus {
  background: #fff;
  color: #000;
}
/*=========================================\
	$FOOTER   
\=========================================*/
footer {
  background: #eee;
}
footer ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer .wrapper {
  padding: 1em 0;
}
